{% extends 'base.html' %} 
{% block content %}
<!--Este codigo no esta funcionando ni renderizado en ninguna parte de codigo fuente-->
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <h2>test</h2>
        <p class=" text-muted">{{ post.author }} | {{ post.created_at }}</p>
        <img class="rounded mx-auto d-block" src="{{post.cover.url}}" alt="blog images" style="max-width: 100%; height: auto; border-radius: 5%;">
        <br><br>
        <p class="card-text text-dark">{{ object.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}
