
{% block sidebar %}

<div class="col-md-4 float-right " id="card">
<div class="card my-4">
        <h5 class="card-header text-dark">About Us</h5>
    <div class="card-body">
        <p class="card-text text-dark">Our company have more the 7 years of experience in filter water adding minerals to improve 
        the health of the customers, request a quote for home house systems.</p>
        <a href="#" class="btn btn-danger">Contact us</a>
    </div>
</div>
</div>

{% endblock sidebar %}
