{% extends 'base.html' %}
{% load static %}
{% block content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>Ixelexi Spa</span></h1>
          <h2>Elevate your beauty, inside and out</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our services</a>
            <a href="{% url 'booking'%}" class="btn-book animated fadeInUp scrollto">Book an Appointment</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://player.vimeo.com/video/793568209?h=c86bf9b48e" class="glightbox play-btn"></a>
        </div>
 
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" aboudata-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="{% static '/img/about.png' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Welcome to Ixelexi Spa, where we offer a wide range of beauty treatments to help you look and feel your best.</h3>
            <p class="fst-italic">
              Our team of skilled and experienced professionals is dedicated to providing the highest level of care and attention to help you relax, rejuvenate, and revitalize. From facials and massages to manicures and pedicures, we have something for everyone.
              We also offer a variety of specialized treatments, including:
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> HIFU</li>
              <li><i class="bi bi-check-circle"></i> Microneedling</li>
              <li><i class="bi bi-check-circle"></i> Hydro Facials</li>
              <li><i class="bi bi-check-circle"></i> Micro Radio Frecuency (RF)</li>
              <li><i class="bi bi-check-circle"></i> Face and doby scoolping</li>
            </ul>
            <p>
              Our state-of-the-art facilities and warm, inviting atmosphere provide the perfect setting for you to unwind and escape from the stresses of everyday life. Contact us today to schedule your appointment and discover the transformative power of beauty at Ixelexi Spa."
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Us</h2>
          <p>Why Choose Ixelexi Spa</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Expertise:</h4>
              <p>Our team of skilled and experienced professionals is dedicated to providing the highest level of care and attention to help you achieve your beauty goals.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>Quality:</h4>
              <p>We use only the highest-quality products and technologies in all of our treatments to ensure the best possible results.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4>Comfort:</h4>
              <p>Our state-of-the-art facilities and warm, inviting atmosphere provide the perfect setting for you to relax and unwind while receiving our beauty services.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Our beauty services</h2>
          <p>The Beauty is here</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-starters">Face</li>
              <li data-filter=".filter-salads">Body</li>
              <li data-filter=".filter-specialty"></li>
            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item filter-starters">
            <img src="{% static '/img/menu/face.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Full Face</a><span>$600</span>
            </div>
            <div class="menu-ingredients">
              Turn back time with HIFU - Rejuvenate your skin and regain your youthful glow!
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="{% static '/img/menu/cellulitis.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Cellutis elimination</a><span>$400</span>
            </div>
            <div class="menu-ingredients">
              Smooth out your curves with HIFU - Achieve a flawless figure and feel confident in your skin! 
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <img src="{% static '/img/menu/woman-g.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Lifting Eyelids</a><span>$300</span>
            </div>
            <div class="menu-ingredients">
              Open up your eyes to a new world - Lift and tighten your eyelids for a more youthful and refreshed appearance!
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="{% static '/img/menu/arms.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Arms</a><span>$400</span>
            </div>
            <div class="menu-ingredients">
              Say goodbye to saggy arms with HIFU - Get the toned and firm arms you deserve!
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="{% static '/img/menu/fat_redu.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Fat elimination</a><span>$400</span>
            </div>
            <div class="menu-ingredients">
              Get the flat tummy you've always wanted with HIFU - Say goodbye to stubborn belly fat and hello to a toned midsection!
            </div>
          </div>

          <!-- <div class="col-lg-6 menu-item filter-starters">
            <img src="{% static '/img/menu/mozzarella.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Mozzarella Stick</a><span>$4.95</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="{% static 'img/menu/greek-salad.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Greek Salad</a><span>$9.95</span>
            </div>
            <div class="menu-ingredients">
              Fresh spinach, crisp romaine, tomatoes, and Greek olives
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <img src="{% static '/img/menu/spinach-salad.jpg'%}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Spinach Salad</a><span>$9.95</span>
            </div>
            <div class="menu-ingredients">
              Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <img src="{% static '/img/menu/lobster-roll.jpg'%}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Lobster Roll</a><span>$12.95</span>
            </div>
            <div class="menu-ingredients">
              Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
            </div>
          </div>

        </div> -->

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>HIFU</h2>
          <p>Check Our HIFU</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">What is HIFU?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">See the transformation with HIFU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Discover the benefits of HIFU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Experience the power of HIFU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Experience the change</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>What is HIFU?</h3>
                    <p class="fst-italic">HIFU (High-Intensity Focused Ultrasound) is a non-invasive, non-surgical beauty treatment used to lift and rejuvenate the skin.</p>
                    <p> It works by delivering focused ultrasound energy to the deeper layers of the skin, stimulating collagen production and promoting a firmer, smoother, and more youthful-looking appearance. HIFU can be used to target specific areas of the face and body, such as the brow, cheeks, neck, and jowls, as well as to tighten and lift the skin on the abdomen, thighs, and buttocks. The treatment is typically painless and requires no downtime, making it an ideal option for those seeking natural-looking rejuvenation without the need for surgery.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img style="
                      border-radius: 50%;
                      height: 300px;
                      width: 300px;
                      box-shadow: 1px 2px 2px #cda45e;
                    " src="{% static '/img/specials-1.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>See the transformative power of HIFU technology at Ixelexi Spa.</h3>
                    <p class="fst-italic">Our non-invasive, non-surgical HIFU treatments use high-intensity focused ultrasound energy to stimulate collagen production in the deeper layers of the skin, helping to tighten and lift the skin for a firmer, smoother, and more youthful-looking appearance.</p>
                    <p>The results of HIFU can be seen immediately after treatment, and continue to improve over time as collagen production increases. With HIFU, you can achieve natural-looking rejuvenation without the need for surgery or downtime. See the difference for yourself with our before and after photos, and contact us today to learn more and schedule your consultation at our Ixelexi spa</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img style="
                    border-radius: 50%;
                    height: 300px;
                    width: 300px;
                    box-shadow: 1px 2px 2px #cda45e;
                  " src="{% static '/img/specials-2.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Discover the benefits of HIFU beauty treatments at Ixelexi Spa. </h3>
                    <p class="fst-italic">HIFU, or High-Intensity Focused Ultrasound, is a non-invasive, non-surgical treatment that uses focused ultrasound energy to stimulate collagen production in the deeper layers of the skin.</p>
                    <p>This process helps to tighten and lift the skin, resulting in a firmer, smoother, and more youthful-looking appearance. HIFU is particularly effective because it can target specific areas of the face and body, including the brow, cheeks, neck, and jowls, as well as the abdomen, thighs, and buttocks. The treatment is also painless and requires no downtime, making it an ideal option for those seeking natural-looking rejuvenation without the need for surgery. Contact us today to learn more and schedule your consultation at our Ixelexi spa</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img style="
                    border-radius: 50%;
                    height: 300px;
                    width: 300px;
                    box-shadow: 1px 2px 2px #cda45e;
                  " src="{% static '/img/specials-3.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Experience the power of HIFU</h3>
                    <p class="fst-italic">Experience the power of HIFU and collagen stimulation at Ixelexi Spa. Our non-invasive, non-surgical HIFU treatments use high-intensity focused ultrasound energy to stimulate collagen production in the deeper layers of the skin.</p>
                    <p>This process helps to tighten and lift the skin, resulting in a firmer, smoother, and more youthful-looking appearance. HIFU can be used to target specific areas of the face and body, including the brow, cheeks, neck, and jowls, as well as to tighten and lift the skin on the abdomen, thighs, and buttocks. With HIFU and collagen stimulation, you can achieve natural-looking rejuvenation without the need for surgery or downtime. Contact us today to learn more and schedule your consultation at our Ixelexi spa.
                    </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img style="
                    border-radius: 50%;
                    height: 300px;
                    width: 300px;
                    box-shadow: 1px 2px 2px #cda45e;
                  " src="{% static '/img/specials-4.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Experience the change</h3>
                    <p class="fst-italic">Experience the latest in non-invasive, non-surgical skin lifting and rejuvenation with HIFU treatments in El Paso, Texas.</p>
                    <p>Our highly trained and skilled team at [Spa Name] uses the latest HIFU technology to deliver focused ultrasound energy to the deeper layers of the skin, stimulating collagen production and promoting a firmer, smoother, and more youthful-looking appearance. HIFU can be used to target specific areas of the face and body, including the brow, cheeks, neck, and jowls. Our HIFU treatments in El Paso are painless and require no downtime, making them an ideal option for those seeking natural-looking rejuvenation without the need for surgery. Contact us today to learn more about HIFU and schedule your consultation at Ixelexi Spa at El Paso, Texas.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img style="
                    border-radius: 50%;
                    height: 300px;
                    width: 300px;
                    box-shadow: 1px 2px 2px #cda45e;
                  " src="{% static '/img/specials-5.png' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Package</h2>
          <p>Elevate your beauty routine with our exclusive package</p>
        </div>

        <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="{% static '/img/woman.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Body Package</h3>
                  <div class="price">
                    <p><span>$</span></p>
                  </div>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  </ul>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="{% static '/img/body-vaginal.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Vagine Package</h3>
                  <div class="price">
                    <p><span>$</span></p>
                  </div>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  </ul>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="{% static '/img/woman-beauty.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Platimum Package</h3>
                  <div class="price">
                    <p><span>$</span></p>
                  </div>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  </ul>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Events Section -->

    <!-- ======= Book A Table Section ======= -->
    <!-- <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Schedule</h2>
          <p>Book an appoiments</p>
        </div>
        <form method="post" class="php-email-form" >
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-4 col-md-6 form-group">
            <label>Name:</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
            <div class="validate"></div>
          </div>
             <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <label>Email:</label>
            <input type="email" name="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            <div class="validate"></div>  
          </div>
            <hr>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <label>Phone Number:</label>
            <input type="text" name="phone_number" class="form-control" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
            <div class="validate"></div>  
          </div>
            <div class="form-group mt-3">
            <label>Message:</label>
            <textarea name="message" class="form-control"  rows="5" placeholder="Message" required></textarea>
            <div class="validate"></div>  
          </div>
            <div class="text-center"><button type="submit">Book an Appointment</button></div>
             -->
            <!-- <input type="submit" value="Send"> -->
        <!-- </div>
        </form>
        </div>
      </section>
      <form method="post">
        {% csrf_token %}
        <label>Name:</label>
        <input type="text" name="name" required>
        <label>Email:</label>
        <input type="email" name="email" required>
        <label>Phone Number:</label>
        <input type="text" name="phone_number" required>
        <label>Message:</label>
        <textarea name="message" required></textarea>
        <input type="submit" value="Send">
      </form>
      {{message}} -->
    <!-- <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Schedule</h2>
          <p>Book an appoiments</p>
        </div>

        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
          <div class="row">
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3">
              <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Book an Appointment</button></div>
        </form>

      </div> 
    </section>
  -->
   <!-- End Book A Table Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static '/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static '/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static '/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static '/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static '/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> -->

    <!-- ======= CASE OF STUDY ======= -->
    <!-- <section id="gallery" class="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Gallery</h2>
          <p>See after and before</p>
        </div>
      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static '/img/gallery/gallery-1.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                <img src="{% static '/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static '/img/gallery/gallery-2.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                <img src="{% static '/img/gallery/gallery-2.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static '/img/gallery/gallery-3.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                <img src="{% static '/img/gallery/gallery-3.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static '/img/gallery/gallery-4.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                <img src="{% static '/img/gallery/gallery-4.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static '/img/gallery/gallery-5.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                <img src="{% static '/img/gallery/gallery-5.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static '/img/gallery/gallery-6.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                <img src="{% static '/img/gallery/gallery-6.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static '/img/gallery/gallery-7.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                <img src="{% static '/img/gallery/gallery-7.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static '/img/gallery/gallery-8.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
                <img src="{% static '/img/gallery/gallery-8.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section>-->

    <!-- ======= Chefs Section ======= -->
    <!-- <section id="chefs" class="chefs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Staff</h2>
          <p>Our Proffesional Staff</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="{% static '/img/chefs/chefs-1.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4></h4>
                  <span>Director</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <img src="{% static '/img/chefs/chefs-2.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Patissier</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <img src="{% static 'img/chefs/chefs-3.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>Cook</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
      </div>
      <div class="container">
      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;"  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13558.183646848616!2d-106.5648112!3d31.8373569!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86ddf868ac362b4d%3A0xb1ffb4a2efa0aff9!2s7238%20N%20Mesa%20St%2C%20El%20Paso%2C%20TX%2079912!5e0!3m2!1ses!2sus!4v1672865827219!5m2!1ses!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <!-- <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/place/7238+N+Mesa+St,+El+Paso,+TX+79912/@31.8373569,-106.5648112,15z/data=!4m13!1m7!3m6!1s0x86ddf868ac362b4d:0xb1ffb4a2efa0aff9!2s7238+N+Mesa+St,+El+Paso,+TX+79912!3b1!8m2!3d31.8373569!4d-106.5560565!3m4!1s0x86ddf868ac362b4d:0xb1ffb4a2efa0aff9!8m2!3d31.8373569!4d-106.5560565" frameborder="0" allowfullscreen></iframe> -->
      </div>
    </div>
      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>7238 N Mesa st El Paso, TX 79912</p>
              </div>

              <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Open Hours:</h4>
                <p>
                  Monday-Friday:<br>
                  10:00 AM - 6:00 PM
                  <br>
                  Satuday:<br>
                  10:00AM - 4:00 PM
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@ixelexi.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>915-790-3096</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">
            
            <form method="post" class="">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="phone_number" id="phone_number" placeholder="Phone Number" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
              </div>
           <br><br>
              <div class="text-center"><button type="submit" value="Submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main>



{% endblock %}