
{% load static %}
<header id="header" class=" d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">Ixelexi Spa</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li class="nav-item">
            <a class="nav-link scrollto" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#menu">Services</a></li>
          <li><a class="nav-link scrollto" href="#specials">Specials</a></li>
          <li><a class="nav-link scrollto" href="#events">Packages</a></li>
          <li><a class="nav-link scrollto" href="#chefs">Staff</a></li>
          <!-- <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li> -->
          <li class="nav-link scrollto"><a href="{% url 'news'%}"><span>Blog</span></a>
            <!-- <ul>
              <li><a href="#">HIFU</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#"></a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </li>
              <li><a href="#">Beauty Recomendations</a></li>
              <li><a href="#">Nutritional Supplements</a></li>
              <li><a href="{% url 'news'%}">Blog</a></li>
            </ul> -->
          </li>
      
        <li class="nav-item">
            <a class="nav-link active cHover" href="#contact">Contact Us</a>
        </li>     
        <li class="nav-item">
            <a class="nav-link active cHover" href="{% url 'booking' %}">Online Booking</a>
        </li>                   
        {% if user.is_authenticated %}
        <!--Clinic Staff Link-->
        <li class="nav-item">
            <a class="nav-link active cHover" href="{% url 'staffPanel' %}">Staff Panel</a>
        </li> 
        <li class="nav-item dropdown me-3 fs-5">
            <a class="nav-link active dropdown-toggle cHover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu  border zNav">
              <li><p><strong>  Welcome</strong> {{user.first_name}}</p></li>
              <li><a class="dropdown-item" href="{% url 'userPanel' %}">User Panel</a></li>
              <li><hr class=""></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a></li>
            </ul>
        </li>
        {% else %}
        <li class="nav-item me-6">
          <a type="submit" href="{% url 'register' %}" class="book-a-table-btn scrollto d-none d-lg-flex" style="background-color:#cda45e">Create Account</a>
       

        </li>
        
        {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="{% url 'booking'%}" class="book-a-table-btn scrollto d-none d-lg-flex">Book an Appointment</a>

    </div>
  </header>